*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}
.cuerpo{
  position: absolute;
  top: 130px;
  left: 0;
  width: 95%;
  margin-left: 2.5%;
}

div.container{
  text-align: center;
  width: 100%;
}

/* ---- Carrito de Compras -----*/
.caracteristicas{
  width: 82%;
  display: flex;
  justify-content: space-between;
  margin-left: 9.5%;
}
.caracteristicas h4{
  font-size: 16px;
  width: 33.33%;
}
.productos{
  display: flex;
  justify-content: space-between;
  text-align: initial;
  width:81%;
  margin-left: 9.5%;
}

.main-productos{
  overflow: hidden;
  margin-bottom: 4vh;
}

.main-productos h2{
  background-color:rgb(165, 96, 143);
  border-radius: 10px;
  width: 98%;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
  color: white;
  margin-bottom: 4vh;
  margin-top: 4vh;
}


.main-productos h4.num{
  margin-left: 10%;
}
.main-productos h4.num#cantidad{
  margin-left: 25%;
}
.cantidad{
  position: relative;
  right: 40px;
}
li {
  display: inline-block;
  margin-top: 3px;
}
button {
  color: white;
  background-color:rgb(165, 96, 143);
  text-align: center;
  width: 28%;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
}

button.masmenos{
  display: inline-block;
  width: 30%;
  margin: 1px;
  padding: 0;
  border-radius: 7px;
}

@media (min-width:768px) {
  .container{
    max-width: 720px;
  }

  .cuerpo{
    top:150px;
  }

  .main-productos h4.num#cantidad{
    margin-left: 27%;
  }
}
@media (min-width:1024px) {
  .container{
    max-width: 1024px;
  }
  header{
    height: 36vh;
  }
  .cuerpo{
    top:36vh;
  }
  header .hamburguesa nav {
    top: 35.6vh;
  }
  .main-productos h4.num#cantidad{
    margin-left: 27%;
  }
}
