*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.cuerpo{
  position: absolute;
  top: 14vh;
}

div.container{
  text-align: center;
}

section.banner {
  display: inline-block;
  height: 3vh;
  position: relative;
}

.banner img{
  width: 100%;
  height: 25vh;
}

h1{
  text-align: center;
  width: 85%;
  position: absolute;
  top: 3.5vh;
  left: 7.5%;
  border: solid black 3px;
  padding: 6vh;
}

/* AQUI VA LA PARTE DE PREGUNTAS */
.main-content{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.preguntas{
  line-height: 1.5em;
  vertical-align: baseline;
  border-bottom: gray 1px solid;
  margin-bottom: 15px;
}

.preguntas p{
  margin: 15px 0;
  font-family: 'Quicksand', sans-serif;
}

.preguntas h3{
  font-family: 'Patua One', cursive;
  margin: 5px;
}

/*media queries*/
@media (min-width:768px) {
  .container{
    max-width: 720px;
  }

  @media (min-width:1200px) {
    .container{
      width:100%;
    }
