*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.cuerpo{
  position: absolute;
  left:5%;
  top: 140px;
  width:90%;
}

div.container{
  text-align: center;
}


/* AQUI VA LA PARTE DE PREGUNTAS */
.main-content{
  width: 100%;
  /* margin-left: 10%;
  margin-right: 10%; */
}
.preguntas{
  line-height: 1.5em;
  vertical-align: baseline;
  border-bottom: gray 1px solid;
  margin-bottom: 15px;
}

.preguntas p{
  margin: 15px 0;
  font-family: 'Quicksand', sans-serif;
}

.preguntas h3{
  font-family: 'Patua One', cursive;
  margin: 5px;
}

/*media queries*/
  @media (min-width:768px) {
  .container{
    max-width: 768px;
  }

  @media (min-width:1024px) {
    .container{
      width:1024px;
    }
  @media (min-width:1440px) {
      .container{
        width:1440px;
      }
