.newsletter-redesSociales{
  text-align: center;
  padding: 0;
  border-bottom:gray 1px solid;
}

.redesSociales{
  margin-left: 15%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-size: 7vh;
}

h5{
  font-family: 'Quicksand', sans-serif;
}


.redesSociales a{
  text-decoration: none;
  color: rgb(165, 96, 143);
}

footer{
  float: left;
  width: 100%;
  margin-top: 25px;
}

footer p{
  display: block;
}

.footer-Sociales{
  margin: 15px auto 5px;
}

#subs{
  text-decoration: none;
  font-family: arial;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  font-size: 2vh;
  color: black;
  background-color:rgba(165, 96, 143,0.2);
  margin-bottom: 10px;
  border-radius: 5px;
}

#subs:hover{
  background-color: rgba(0,0,0,0.2);
  text-decoration: none;

}
.cierre{
  margin-top: 5vh;
  margin-bottom: 2vh;
  margin-left: 5%;
}

.cierre a{
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3vh;
  font-weight: bold;
}

#volver{
    margin-right: 5%;
    right: 5%;
    bottom: 2.5%;
    font-size: 5vh;
    text-decoration: none;
    color: rgba(165, 96, 143, 0.7);
    position: fixed;
}
@media (min-width: 768px){
  .redesSociales{
    margin-left: 35%;
    width: 30%;
  }
}
@media (min-width: 1024px){
  .redesSociales{
    margin-left: 40%;
    width: 20%;
  }
}
