*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cuerpo{
  position: absolute;
  top: 20vh;
}

header .carrito .carrit a{
    color:black;
    text-decoration: none;
}

div.container{
  text-align: center;
  width: 100%;
}

section.banner {
  display: inline-block;
  height: 3vh;
  position: relative;
}

.banner img{
  width: 100%;
  height: 25vh;
}

h1{
  text-align: center;
  width: 85%;
  position: absolute;
  top: 3.5vh;
  left: 7.5%;
  border: solid black 3px;
  padding: 6vh;
}


/*---------Propiedades del ITEM---------*/
.item-info{
  padding: 10px;
}

button {
  color: white;
  background-color:rgb(165, 96, 143);
  text-align: center;
  width: 28%;
  max-width: 200px;
  margin: 5px;
  right: 0;
  left: 0;
  padding: 8px;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
}

.item-price{
  text-align: center;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
}

.item-name{
  text-align: center;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
}

.item-description{
  font-size: 14px;
  font-weight: 300;
  margin: 0 15px;
  word-break: break-word;
  text-align: justify;
  font-family: 'Quicksand', sans-serif;
}

.item-optionals{
  padding: 0 4px;
  text-align: left;
  border: 1px solid gray;
}

.item-optionals-item {
  padding: 5px 0;
  font-size: 12px;
}

.item-optionals-item span{
  color: #666;
  margin-right: 8px;
  width: 33%;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
}

.item-optionals-item strong{
  border-bottom: 1px solid #eee;
  width: 66%;
  font-family: 'Quicksand', sans-serif;
}



/* ------- FOOTER ---------- */

.newsletter-redesSociales{
  padding: 0;
  border-bottom:gray 1px solid;
}

.redesSociales{
  margin-left: 15%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-size: 7vh;
}

h5{
  font-family: 'Quicksand', sans-serif;
}


.redesSociales a{
  text-decoration: none;
  color: rgb(165, 96, 143);
}

footer{
  margin-top: 5vh;
}

footer p{
  display: block;
}

.footer-Sociales{
  margin: 15px auto 5px;
}

#subs{
  text-decoration: none;
  font-family: arial;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  font-size: 2vh;
  color: black;
  background-color:rgba(165, 96, 143,0.2);
  margin-bottom: 10px;
  border-radius: 5px;
}

#subs:hover{
  background-color: rgba(0,0,0,0.2);
  text-decoration: none;

}
.cierre{
  margin-top: 5vh;
  margin-bottom: 2vh;
  margin-left: 5%;
}

.cierre a{
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3vh;
  font-weight: bold;
}

#volver{
    margin-right: 5%;
    right: 5%;
    bottom: 2.5%;
    font-size: 5vh;
    text-decoration: none;
    color: rgba(165, 96, 143, 0.7);
    position: fixed;
}

/*media queries*/
@media (min-width:768px) {
  .item-info{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .item-optionals{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  @media (min-width:1024px) {
    header{
      height: 27vh;
    }
    .cuerpo{
      top:27vh;
    }
    header .hamburguesa nav {
      top: 26.7vh;
    }
    .item-info{
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
    .item-optionals{
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }
