*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cuerpo{
  position: absolute;
  top: 185px;
}
main section.banner {
  display: inline-block;
  height: 3vh;
  position: relative;
}

.banner img{
  width: 100%;
  height: 25vh;
}

h1{
  text-align: center;
  width: 85%;
  position: absolute;
  top: 3.5vh;
  left: 7.5%;
  border: solid black 3px;
  padding: 6vh;
}

/* AQUI VA LA PARTE DEL PERFIL */

.main-profile{

}

.img-background{
  overflow: hidden;
}

.img-background img{
  margin-top: 20px;
  display: block;
  border-radius: 100%;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

/* Esto es para el boton de editar y agregarlo a la imagen.*/
/*#pencil {
  z-index: 1;
  float: right;
  margin-right: 35%;
  border-radius: 100%;
  background-color: #e0e0d1;
  padding: 8px;
}*/

h2{
  margin-top: 15px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
h4{
  text-align:center;
  width: 320px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 8px;
  font-family: 'Quicksand', sans-serif;
}
button.editar {
  display: block;
  margin: auto;
  color: white;
  background-color:rgb(165, 96, 143);
  text-align: center;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
}
