*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header div{
  width:33.33%;
  color:black;
}

.cuerpo{
  position: absolute;
  top: 210px;
}

div.container{
  text-align: center;
}


/*-- Campos a llenar -- */
label {
  float: left;
  width: 100%;
  margin-top: 12px;
  padding: 4px;
  font-family: 'Quicksand', sans-serif;
}

input {
    border-radius: 10px;
    border: 1px solid rgb(165, 96, 143);
    line-height: 20px;
    padding: 3px;
}
input.check{
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;
}
select {
  border-radius: 10px;
  border: 1px solid rgb(165, 96, 143);
  line-height: 20px;
  padding: 4px;
}

button {
  color: white;
  background-color:rgb(165, 96, 143);
  text-align: center;
  width: 28%;
  margin: 10px;
  right: 0;
  left: 0;
  padding: 8px;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  max-width: 200px;
}

textarea {
  border-radius: 10px;
  border: 1px solid rgb(165, 96, 143);
  line-height: 20px;
  padding: 3px;
}
