*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

  .cuerpo{
  float: left;
  margin-top: 120px;
  width: 100%;
}

/* AQUI VA LA PARTE DE PREGUNTAS */
  .preguntas{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  }

article.pregunta{
  line-height: 16px;
  vertical-align: baseline;
  border-bottom: gray 1px solid;
  margin-bottom: 20px;
}

article.pregunta p{
  margin: 20px 0;
  font-family: 'Quicksand', sans-serif;
}

.pregunta h3{
  font-family: 'Patua One';
  margin: 4px;
}

iframe{
  margin-bottom: 10px;
}
/*media queries*/
@media (min-width:768px) {
  .cuerpo {
   width: 100%;
   margin-top: 0;
 }

  .preguntas{
    max-width: 768px;
  }
}
  @media (min-width:1024px) {
    .preguntas{
      max-width: 1024px;
      width: 80%;
      margin-left: 10%;
    }
    @media (min-width:1440px) {
      .preguntas{
        max-width: 1440px;
      }
