header{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  position: fixed;
  z-index: 2;
  height: 50px;
  left: 0;
}

header .carrito{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .carrito a{
  font-size: 20px;
    color:white;
    text-decoration: none;
    position: absolute;
    top: 11px;
    right: 15%;
}
.lupa a{
  display: none;
}
 /* .lupa a{
  font-size: 15px;
    color:black;
    text-decoration: none;
    position: absolute;
    top: 23px;
    left: 62%;
} */

header .hamburguesa{
  display: flex;
}

header .hamburguesa i{
  color:white;
  position: absolute;
  right: 5%;
  margin-top:16px;
  font-size: 22px;
}
nav {
    transition: .5s;
}
header .hamburguesa nav {
  top: 0px;
  position: absolute;
  right: -110%;
  text-align: right;
  font-size: 16px;
  background-color: rgba(255, 255, 255,0.5);
  max-height: 0;
  overflow: hidden;
}
header .hamburguesa i:hover nav {
  max-height: 1000px;
  overflow: visible;
  transition: 0.5s;
  /* height: 150px; */
}
header nav ul {
  width:160px;
}
header nav ul li {
  padding-top: 7px;
  padding-left: 2%;
  padding-right: 15%;
  padding-bottom: 4px;
  transition: .3s;
}

header nav ul li a{
  font-family: 'Anton', sans-serif;
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
}
header nav ul li:hover {
  background: rgb(165, 96, 143);
}
.logo a{
  display: flex;
  top: 5px;
  left: 15px;
  position: absolute;
  flex-direction: column;
  align-items: center;
}

.logo a img{
  width: 40px;
}

a p#marca{
  display: none;
  font-family: 'Anton', sans-serif;
}

input#search{
  position: absolute;
  width: 53%;
  top: 11px;
  left: 20%;
  /* border: 1px solid #000; */
  box-shadow: 0 0 0 1px #f48fb1;
  height: 30px;
}


.menuHor {
  display: none;
}

/*media queries*/
@media (min-width:768px) {
   a p#marca{
    display: flex;
    position: absolute;
    left: 48px;
    margin-top: 10px;
    color:black;
    font-size: 14px;
    font-weight: bold;
  }

  input#search{
    left: 22%;
    width: 65%;
  }

  header .hamburguesa{
    display: none;
  }

  .carrito a{
     right: 4%;
 }
 .menuHor{
   width: 100%;
   margin-top: 120px;
   display: inline-block;
   padding-left: 1%;
 }
.menuHor ul {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
}
.menuHor ul li {
  float: left;
  color: black;
  padding: 0 10px;
  background: rgb(255, 199, 236);
  line-height: 26px;
  border-radius: 10px;
  margin-bottom: 2px;
}

.menuHor a{
  color: black;
  display: inline-block;
  width: 100%;
  padding: 4px 0;
}
}

  @media (min-width:1024px){
    a p#marca{
     left: 75px;
     margin-top: 8px;
     font-size: 16px;
   }

    div.photo-container {
      width: 31.3%;
    }

    .menuHor{
      padding-left: 15%;
      padding-right: 15%;
    }
  }
