*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

/*Body*/
.cuerpo{
  float: left;
  margin-top: 120px;
  width:100%;
}
main{
text-align: center;
}

h1{
  text-align: center;
  width: 85%;
  position: absolute;
  top: 20px;
  left: 7.5%;
  border: solid black 3px;
  padding: 6vh;
}

h2{
  display: inline-block;
  text-align: center;
  font-family: 'Signika', sans-serif;
}

h3{
  font-family: 'Quicksand', sans-serif;
  padding: 4px;
  text-align: left;
}

p {
  font-family: 'Quicksand', sans-serif;
  padding: 5px;
  text-align: left;
}

div.photo-container {
  position: relative;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 6px;
}

.foto {
  width: 100%;
}

a.more {
  display: block;
  color: white;
  background-color:rgba(193, 149, 179, 0.8);
  text-align: center;
  width: 25%;
  right: 0;
  left: 0;
  padding: 7px;
  margin-bottom: 6px;
  border-radius: 8px;
  font-family: 'Quicksand', sans-serif;
}

/*media queries*/
@media (min-width:768px) {
  .cuerpo {
   width: 100%;
   margin-top: 0;
 }
  div.photo-container {
    float: left;
    width: 48%;
  }

  @media (min-width:1200px) {
    .container{
      margin: auto;
    }
    div.photo-container {
      float: left;
      width: 30%;
      margin-left: 1.8%;
    }
