*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;

}
body{
    width: 100%;
    background-color: white;
    overflow-x: hidden;
}

.productos{
  margin-top: 20px;
}
.container{
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}



/*Estilo del boton*/
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#myVideo {
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.content {
  /* position: fixed; */
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.bajar{
  height: 100vh;
  width: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 2;
}

#goDown {
  font-size: 48px;
  margin-top: 90vh;
  cursor: pointer;
}

.fullscreen-video{
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
 /* .fullscreen-video video{
  min-width: 100%;
  min-height: 100%;
} */

.myBtn{
  background: #34b3a8;
  color: #fff;
  font-size: 1.2em;
  padding: 1em 2em;
  text-decoration: none;
}

h1#ver-mas{
  text-decoration: none;
  border: none;
  font-size: 40px;
  font-family: 'Alatsi', sans-serif;
  text-decoration-color: black;
  margin-top: 30px;
}

@media(max-width:1080px) {
  .container{

  }
}
/*media queries*/
@media (min-width:768px) {
   .cuerpo {
    width: 100%;
    margin-top: 0;
  }

  div.photo-container {
    float: left;
    width: 48%;
  }
}

  @media (min-width:1024px) {

    div.photo-container {
      width: 25%;
    }
    #video{
      left: 0;
      top: 0;
      width: auto;
      height: 100vh;
    }
  }
