*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;

}
body{
    background-color: white;
    overflow-x: hidden;
}
.cuerpo{
  float: left;
  margin-top: 110px;
  min-height:  100vh;
}
.productos{
  margin-top: 20px;
}
.container{
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


/*Estilo del boton*/
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


/*
#video {
position: absolute;
left: 0;
top:30%;
width: 100%;
height: auto;
z-index: 1000;
visibility: visible;
}*/
/* h1{
  text-align: center;
  width: 85%;
  position: absolute;
  top: 3.5vh;
  left: 7.5%;
  border: solid black 3px;
  padding: 6vh;
} */

/* .productos{
  overflow: hidden;
} */

div.photo-container {
  float: left;
  position: relative;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 110px;
  padding: 10px;
}

.foto {
  width: 100%;
}

a.ver-categoria {
  position: absolute;
  color: white;
  background-color:rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 35%;
  margin: auto;
  top: 80%;
  right: 0;
  left: 0;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: 'Anton', sans-serif;
}

/*media queries*/
@media (min-width:768px) {
   .cuerpo {
    width: 100%;
    margin-top: 0;
  }

  div.photo-container {
    float: left;
    width: 48%;
  }
}

  @media (min-width:1024px) {

    div.photo-container {
      width: 25%;
    }
    #video{
      left: 0;
      top: 0;
      width: auto;
      height: 100vh;
    }
  }
