*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.cuerpo{
  float: left;
  margin-top: 110px;
}

/* h1{
  text-align: center;
  width: 85%;
  position: absolute;
  top: 3.5vh;
  left: 7.5%;
  border: solid black 3px;
  padding: 6vh;
} */

/* .productos{
  overflow: hidden;
} */

div.photo-container {
  float: left;
  position: relative;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5px;
  padding: 10px;
}

.foto {
  width: 100%;
}

a.ver-categoria {
  position: absolute;
  color: white;
  background-color:rgba(193, 149, 179, 0.8);
  text-align: center;
  width: 35%;
  margin: auto;
  top: 80%;
  right: 0;
  left: 0;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
}

/*media queries*/
@media (min-width:768px) {
   .cuerpo {
    width: 100%;
    margin-top: 0;
  }

  div.photo-container {
    float: left;
    width: 48%;
  }
}

  @media (min-width:1024px) {

    div.photo-container {
      width: 31.3%;
    }
  }
