
.video{
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  color: #fff;
}

/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
} */

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.bajar{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#goDown {
  font-size: 48px;
  margin-top: 90vh;
  cursor: pointer;
}

.fullscreen-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
 .fullscreen-video video{
  min-width: 100%;
  min-height: 100%;
}

.myBtn{
  background: #34b3a8;
  color: #fff;
  font-size: 1.2em;
  padding: 1em 2em;
  text-decoration: none;
}

h1#ver-mas{
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 40px;
  font-family: 'Alatsi', sans-serif;
  text-decoration-color: black;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media(max-width:1080px) {
  .container{

  }
}
